/* Estilos para el encabezado */
.header {
    display: flex; /* Mostrar como flexbox*/
    width: 90vw; /* Ancho del 90% del viewport*/
    top: 1rem; /* Distancia superior a 1rem*/
    transform: translate(-50%); /* Centrar horizontalmente*/
    left: 50%; /* Centrar horizontalmente*/
    max-width: 1000px; /* Ancho máximo del viewport*/
    position: absolute; /* Posición absoluta*/
    justify-content: space-between; /* Justificar elementos a ambos lados*/
    align-items: center; /* Centrar verticalmente*/
    border: 3px solid hsl(217, 16%, 45%); /* Borde sólido con color*/
    padding: .75rem 1.5rem; /* Espaciado interno*/
    border-radius: 1rem; /* Borde redondeado*/
    transition: all 1s ease-in-out; /* Transición suave*/
}

/* Estilos para el logo*/
.logo{
    max-width: max-content; /* Ancho máximo del contenido*/
    display: flex; /* Mostrar como flexbox*/
    justify-content: center; /* Centrar horizontalmente*/
    align-items: center; /* Centrar verticalmente*/
}

/* Estilos para la imagen del logo*/
.logo-img{
    width: 80px; /* Ancho de la imagen del logo*/
}

/* Estilos para la aplicación modificada de la imagen del logo*/
.app.modified .logo-img{
    width: 70px !important; /* Ancho de la imagen del logo en la aplicación modificada*/
}

/* Estilos generales para las imágines*/
img{
    display: block; /* Mostrar como bloque*/
}

/* Estilos para el contenedor de la puntuación*/
.scored{
    background: white; /* Fondo blanco*/
    padding: .75rem 1.5rem; /* Espaciado interno*/
    border-radius: .5rem; /* Borde redondeado*/
    display: flex; /* Mostrar como flexbox*/
    flex-direction: column; /* Dirección de la columna*/
    align-items: center; /* Centrar verticalmente*/
}

/* Estilos para la etiqueta de la puntuación*/
.scored-label {
    font-weight: 700; /* Peso de la fuente*/
    font-size: 12px; /* Tamaño de la fuente*/
    color: hsl(229, 64%, 46%); /* Color del texto*/
}

/* Estilos para la puntuación*/
#score{
    margin: -2px 0;
    font-size: 36px;
    color: hsl(229, 25%, 31%);
    font-weight: 700;
}

@media (min-width: 768px) {
    .header{
        top: 2rem;
    }

    .logo-img{
        width: 136px;
    }

    .scored-label{
    font-size: 18px;
    }

    .scored {
        font-size: 54px;
    }

    .app.modified .logo-img{
        width: 90px !important; /* Ancho de la imagen del logo en la aplicación modificada*/
    }
}