#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  color: #fff;
}


.app {
  min-height: 100vh;
  background: radial-gradient(hsl(214,47%,23%),hsl(237,49%,15%));
  overflow: hidden;
  padding: 1rem;
  position: relative;
}

#state-0 #player-chooses,
#state-1 #player-chooses{
    left: -100vw;
}

#state-0 .header,
#state-1 .header{
    left: -100vw;
}

#state-0 #footer-game,
#state-1 #footer-game{
    left: -100vw;
}

#state-0 .main-menu-container{
    top: 0;
}


#state-3 #player-chooses .item,
#state-4 #player-chooses .item,
#state-5 #player-chooses .item{
    left: 50%;
    top: 50%;
    cursor: default;
}

#state-3 .chosen,
#state-4 .chosen,
#state-5 .chosen{
    z-index: 999;
}

#state-4 #ai-choice,
#state-5 #ai-choice{
    left: 75%;
}
#state-0 #play-again,
#state-1 #play-again,
#state-2 #play-again,
#state-3 #play-again,
#state-4 #play-again{
    bottom: -20vh;
}

#state-4 #player-chooses,
#state-5 #player-chooses{
    top: 50%;
    left: 25%;
}

#state-3 #player-chooses,
#state-4 #player-chooses,
#state-5 #player-chooses{
    width: 100px;
    border-radius: 100%;
}

#state-3 #player-chooses
#bg-img,
#state-4 #player-chooses
#bg-img,
#state-5 #player-chooses
#bg-img{
    scale: 0;
}

.app.modified #player-chooses{
    aspect-ratio: 329/313;
}

.app.modified #player-chooses .item-0{
    left: calc(66% + 40px);
    top: calc(100% - 16px);
}

.app.modified #player-chooses .item-1{
    left: 95%;
    top: 40%;
}

.app.modified #player-chooses .item-2{
    left: 50%;
    top: 5%;
}

.app.modified #player-chooses .item-3{
    left: calc(33% - 40px);
    top: calc(100% - 16px);
}

.app.modified #player-chooses .item-4{
    left: 5%;
    top: 40%;
}


.app.modified .item{
    width: 80px;
    height: 80px;
    box-shadow: inset 0 -3.2px #0000004d;
}

.app.modified .item div{
    width: 64px;
    height: 64px;
    box-shadow: inset 0 4px #0000004d;
}

.app.modified .item div img{
    width: 40px;
    height: 40px;
}

.app.modified .winner {
    width: 80px;
    box-shadow: 0 0 40px #fff;
}

.app.modified #ai-choice {
    width: 80px;
    height: 80px;
}