#player-chooses{
    max-width: 100vw;
    position: absolute;
    left: 50%;
    aspect-ratio: 313/278;
    width: 68vw;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: all 1s ease-in-out;
}

#bg-img{
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

img{
    display: block;
}

#player-chooses .item-0{
    left: 50%;
    top: 100%;
}

#player-chooses .item-1{
    left: 0;
    top: 0;
}

#player-chooses .item-2{
    left: 100%;
    top: 0;
}

#player-chooses .item{
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.item{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: inset 0 -4px #0000004d;
}

.item-0 {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.item-1 {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.item-2 {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.item-3 {
    background: linear-gradient(hsl(261,73%,60%),hsl(261,72%,63%));
}

.item-4 {
    background: linear-gradient(hsl(189,59%,53%),hsl(189,58%,57%));
}

.item div{
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100%;
    box-shadow: inset 0 4px #0000004d;
}

.item div img{
    width: 50px;
    height: 50px;
}

#play-again{
    position: absolute;
    width: 70vw;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    bottom: 20vh;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    transition: all 1s ease-in-out;
}

#play-again p{
    font-size: 40px;
}

#play-again button{
    color: #3b4363;
    font-size: 18px;
    background: white;
    border: none;
    padding: .75rem 3rem;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}



#player-chooses #bg-img{
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

#ai-choice{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 150vw;
    top: 50%;
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 1s ease-in-out;
}

.winner{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 100%;
    box-shadow: 0 0 50px 10px #fff;
    transition: box-shadow .1s ease-in-out !important;
}